PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/testimonial_platform?retryWrites=true&w=majority
JWT_ACCESS_SECRET=your_super_secret_access_key_here
JWT_REFRESH_SECRET=your_super_secret_refresh_key_here
CLIENT_URL=http://localhost:5173
